<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.crmgo.register.mapper.SecretErrorMapper">
    <resultMap id="BaseResultMap" type="com.example.crmgo.register.entity.SecretError">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="customer_id" jdbcType="VARCHAR" property="customerId"/>
        <result column="date" jdbcType="DATE" property="modifyDate"/>
        <result column="error_num_day" jdbcType="INTEGER" property="errorNumDay"/>
        <result column="error_num_total" jdbcType="INTEGER" property="errorNumTotal"/>
        <result column="valid_flag" jdbcType="INTEGER" property="validFlag"/>
        <result column="lock_flag" jdbcType="INTEGER" property="lockFlag"/>
    </resultMap>
    <sql id="Base_Column_List">
        id
                , customer_id, date, error_num_day, error_num_total, valid_flag, lock_flag
    </sql>
    <select id="selectByCustomerId" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_secret_error
        where customer_id = #{customerId,jdbcType=VARCHAR}
        AND valid_flag = 0
    </select>

    <delete id="deleteByCustomerId" parameterType="java.lang.String">
        delete
        from tb_secret_error
        where customer_id = #{customerId,jdbcType=VARCHAR}
    </delete>

    <insert id="insert" parameterType="com.example.crmgo.register.entity.SecretError">
        insert into tb_secret_error (id, customer_id, date,
                                     error_num_day, error_num_total, valid_flag, lock_flag)
        values (#{id,jdbcType=BIGINT}, #{customerId,jdbcType=VARCHAR}, #{modifyDate,jdbcType=DATE},
                #{errorNumDay,jdbcType=INTEGER}, #{errorNumTotal,jdbcType=INTEGER}, #{validFlag,jdbcType=INTEGER},
                #{lockFlag,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="com.example.crmgo.register.entity.SecretError">
        insert into tb_secret_error
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="customerId != null">
                customer_id,
            </if>
            <if test="modifyDate != null">
                date,
            </if>
            <if test="errorNumDay != null">
                error_num_day,
            </if>
            <if test="errorNumTotal != null">
                error_num_total,
            </if>
            <if test="validFlag != null">
                valid_flag,
            </if>
            <if test="lockFlag != null">
                lock_flag,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="customerId != null">
                #{customerId,jdbcType=VARCHAR},
            </if>
            <if test="modifyDate != null">
                #{modifyDate,jdbcType=DATE},
            </if>
            <if test="errorNumDay != null">
                #{errorNumDay,jdbcType=INTEGER},
            </if>
            <if test="errorNumTotal != null">
                #{errorNumTotal,jdbcType=INTEGER},
            </if>
            <if test="validFlag != null">
                #{validFlag,jdbcType=INTEGER},
            </if>
            <if test="lockFlag != null">
                #{lockFlag,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.example.crmgo.register.entity.SecretError">
        update tb_secret_error
        <set>
            <if test="customerId != null">
                customer_id = #{customerId,jdbcType=VARCHAR},
            </if>
            <if test="modifyDate != null">
                date = #{modifyDate,jdbcType=DATE},
            </if>
            <if test="errorNumDay != null">
                error_num_day = #{errorNumDay,jdbcType=INTEGER},
            </if>
            <if test="errorNumTotal != null">
                error_num_total = #{errorNumTotal,jdbcType=INTEGER},
            </if>
            <if test="validFlag != null">
                valid_flag = #{validFlag,jdbcType=INTEGER},
            </if>
            <if test="lockFlag != null">
                lock_flag = #{lockFlag,jdbcType=INTEGER},
            </if>
        </set>
        where customer_id = #{customerId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.example.crmgo.register.entity.SecretError">
        update tb_secret_error
        set customer_id     = #{customerId,jdbcType=VARCHAR},
            date            = #{modifyDate,jdbcType=DATE},
            error_num_day   = #{errorNumDay,jdbcType=INTEGER},
            error_num_total = #{errorNumTotal,jdbcType=INTEGER},
            valid_flag      = #{validFlag,jdbcType=INTEGER},
            lock_flag       = #{lockFlag,jdbcType=INTEGER}
        where customer_id = #{customer_id,jdbcType=VARCHAR}
    </update>
</mapper>